<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SH_Portfolio_Blog</title>
    <meta name="description" content="Portfolio for world-renowned sorfware engineer Seohyeon" />
    <meta name="author" content="Seohyeon Kim">
    <link rel="icon" type="img/png" href="public/imgs/favicon.png">
    <script src="https://kit.fontawesome.com/4b6867fcba.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="public/css/write.css">
    <script src="/public/js/write.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!-- font-family: 'Noto Sans KR', sans-serif; -->
    </script>
</head>


<body>
    <!-- NavBar -->
    <nav id="navbar">
        <div class="navbar__container">
            <div class="navbar__menu">
                <a href="/">
                    <img src="public/imgs/blog_logo.png" alt="로고" class="navbar__logo">
                </a>
            </div>
            <div class="navbar__menu">
                <ul class="navbar__menu--list">
                    <li data-link="#goToBlog" class="navbar__menu__item active"> <a href="blog.html">Blog</a></li>
                    <li>
                        <!-- publish버튼 -->
                        <a href="write.html">
                            <button id="writeBtn" class="navbar__write-btn">Reset</button>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Toggle button
        <button id="toggleBtn" class="navbar__toggle-btn">
            <i class="fas fa-hamburger"></i>
        </button> -->
        </div>
    </nav>
    <!-- Header
    <section id="Header">
        <div class="header__container">
        </div>
    </section> -->
    <!-- Write -->
    <main id="main">
        <section id="blog">
            <form id="blogForm" v-on:submit.prevent="onSubmit">
                <!-- addBtn -->
                <ul id="add__btn" contentEditable="fasle">
                    <li><button class="add__plus-btn"><i class="far fa-times-circle"></i></button>
                        <ul>
                            <li><button class="add__img-btn"><i class="far fa-image"></i></li>
                            <li><button class="add__code-btn"><i class="fas fa-code"></i></button></li>
                        </ul>
                    </li>
                </ul>
                <div class="blogtext" contentEditable="true">
                    <h3 class="write__title">
                        <span class="defaultText">Title</span>
                    </h3>
                    <div class="content">
                        <p class="write__content--textarea" date-scroll="native">
                            <span class="defaultText">Tell your story…</span>
                        </p>
                    </div>
                </div>

                <!-- writeBtn -->
                <div id="writeBottom">
                    <label>subject :
                        <select name="tag" class="tag">
                            <option value="front">Front-end</option>
                            <option value="back">Back-end</option>
                            <option value="marketing">Marketing</option>
                            <option value="thought">Thought</option>
                        </select>
                    </label>

                    <label> name :
                        <input v-model="author" type="text" class="write__author--input" maxlength="5"
                            autocomplete /></label><br />
                    <label>password :
                        <input v-model="password" type="password" class="write__password--input" maxlength="10"
                            autocomplete />
                    </label>

                </div>
                <button type="submit" class="write__publish__btn active">
                    publish
                </button>
            </form>

            <!-- <section id="post">
                <div v-if="posts.length">
                    <ul class="post__list">
                        <li class="post__list--item" v-for="item in posts">
                            <div class="card" v-bind:data-id="item.id">
                                <div class="card__header">
                                    <span class="card__title">{{item.title}}</span>
                                    <span class="cart__author">작성자 : {{item.author}}</span>
                                </div>
                                <p class="card__content">
                                    {{item.content}}
                                </p>
                                <div class="card__footer">
                                    <button>수정</button>
                                    <button v-on:click="onDelete(item.id)">제거</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div v-else>
                    포스트가 없습니다.
                </div>-->

        </section>
    </main>
</body>

</html>